footer {
	background-color: gray;
	padding: 30px;
	margin: 10px 0;
	text-align: center;
	color: white;
}

.error {
	text-align: center;
}

@media (max-width: 990px) {
	.imagen {			
	display: none;
	}
}

@media (min-width: 768px) {

	.resumen {
		width: 35%;
		
	}
}

#tabla {
     overflow:scroll;
     height: 250px;
     width:auto;
}


.form-buscar button {
	margin-top: 1rem;
}

@media (min-width: 768px) {

	.form-buscar {

		display: flex;
	}

	.form-buscar button {

	margin-top: 0;

	}

}


